@font-face {
    font-family: GeoFont;
    src: url(fonts/dejavu-sans-condensed-webfont.ttf);
}

@font-face {
    font-family: GeoFontItalic;
    src: url(fonts/dejavu-sans-condensed-oblique-webfont.ttf);
}

@font-face {
    font-family: GeoFontBold;
    src: url(fonts/dejavu-sans-condensed-bold-webfont.ttf);
}

@font-face {
    font-family: Font;
    src: url(fonts/Raleway-VariableFont_wght.ttf);
}

:root{
    --background: #F1E4C3;
    --secondary: #EAECCC;
    --primary: #CD8D7A;
}

.GEO{
    font-family: GeoFont !important;
}

.GEO-bold{
    font-family: GeoFontBold;
}
.GEO-italic{
    font-family: GeoFontItalic;
}

.ENG{
    font-family: Font !important;
}

body{
    background-color: var(--background) !important;
}


.container{
    width: 80% !important;
    padding-left: 0px !important;
    padding-right: 0px !important;
}


/* navbar */
.navbar{
    background-color: var(--secondary) !important;
}
.btn{
    background-color: var(--primary)!important;
    border: none !important;
}
.navbar-dark .navbar-nav .nav-link,
.navbar-light .navbar-nav .nav-link {
    margin-right: 30px;
    padding: 25px 0;
    color: #FFFFFF;
    font-size: 15px;
    text-transform: uppercase;
    outline: none;
}

.navbar-dark .navbar-nav .nav-link:hover,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link.active {
    color: #765248;
}

.navbar-light .navbar-brand,
.navbar-light a.btn {
    height: 75px;
}

.navbar-light .navbar-nav .nav-link {
    color: var(--dark);
    font-weight: 500;
}

.navbar-light.sticky-top {
    top: -100px;
    transition: .5s;
}
/* navbar ends */


.banner {
    height: 660px;
    text-align: center;
    background-color: #B2A59B;
    padding: 20px;
    background-image: url(images/banner.png);
    background-position: center center
}
.banner img{
    margin-top: 2%;
}

.captions{
    text-align: left;
    margin-top: 6.5%;
    font-size: 50px;
    color:rgb(255, 255, 255);
}

.banner .companyNameGeo{
    font-family: GeoFont;
}

.banner .companyName{
    font-family: Font;
    font-size: 60px;
}

.bookReview{
    background-color: var(--background) !important;
}


.u-image{
    margin-top: 20px !important
}

.header{
    font-size: 2vw;  
    margin-top: 30px;
    text-align: center;
}

#second {
    width:500px;
    margin: auto;
}

.footer_container{
    background-color: #CD8D7A !important;
}

.col-md-6 form button{
    background-color: #765248;
    border: #765248;
}

.navbar-nav a{
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.u-body{
    background-color: var(--background);
}


#aboutA{
    text-decoration: none;
    color:#fa11db !important
}